.main-tabs-backdrop {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 40%);
    left: 0;
    width: 200px;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
}

.mod-health-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow-y: auto;
    padding: 16px;
}

    .mod-health-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-mod-health-light);
        background-position: var(--plumbbuddy-tab-background-mod-health-position);
        background-repeat: var(--plumbbuddy-tab-background-mod-health-repeat);
        background-size: var(--plumbbuddy-tab-background-mod-health-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

.catalog-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow-y: hidden;
    padding: 16px;
}

    .catalog-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-catalog-light);
        background-position: var(--plumbbuddy-tab-background-catalog-position);
        background-repeat: var(--plumbbuddy-tab-background-catalog-repeat);
        background-size: var(--plumbbuddy-tab-background-catalog-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

.personal-notes-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow-y: hidden;
    padding: 16px;
}

    .personal-notes-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-catalog-light);
        background-position: var(--plumbbuddy-tab-background-catalog-position);
        background-repeat: var(--plumbbuddy-tab-background-catalog-repeat);
        background-size: var(--plumbbuddy-tab-background-catalog-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

.mod-hound-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow-y: hidden;
    padding: 16px;
}

    .mod-hound-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-mod-hound-light);
        background-position: var(--plumbbuddy-tab-background-mod-hound-position);
        background-repeat: var(--plumbbuddy-tab-background-mod-hound-repeat);
        background-size: var(--plumbbuddy-tab-background-mod-hound-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

.archivist-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow-y: auto;
    padding: 16px;
}

    .archivist-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-archivist-light);
        background-position: var(--plumbbuddy-tab-background-archivist-position);
        background-repeat: var(--plumbbuddy-tab-background-archivist-repeat);
        background-size: var(--plumbbuddy-tab-background-archivist-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

.parlay-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow-y: auto;
    padding: 16px;
}

    .parlay-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-parlay-light);
        background-position: var(--plumbbuddy-tab-background-parlay-position);
        background-repeat: var(--plumbbuddy-tab-background-parlay-repeat);
        background-size: var(--plumbbuddy-tab-background-parlay-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

.manifest-editor-tab-container {
    width: calc(var(--plumbbuddy-zoomed-vw) - 200px);
    height: calc(var(--plumbbuddy-zoomed-vh) - 64px);
    overflow: hidden;
}

    .manifest-editor-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-manifest-editor-light);
        background-position: var(--plumbbuddy-tab-background-manifest-editor-position);
        background-repeat: var(--plumbbuddy-tab-background-manifest-editor-repeat);
        background-size: var(--plumbbuddy-tab-background-manifest-editor-size);
        height: var(--plumbbuddy-zoomed-vh);
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: var(--plumbbuddy-zoomed-vw);
        z-index: -10;
    }

@media (prefers-color-scheme: dark) {
    .mod-health-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-mod-health-dark);
    }

    .catalog-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-catalog-dark);
    }

    .mod-hound-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-mod-hound-dark);
    }

    .archivist-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-archivist-dark);
    }

    .parlay-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-parlay-dark);
    }

    .manifest-editor-tab-container .background {
        background-image: var(--plumbbuddy-tab-background-manifest-editor-dark);
    }
}