.main-tabs-backdrop {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 40%);
    height: 48px;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
}

.mod-health-tab-container {
    height: calc(100vh - 112px);
    overflow-y: auto;
    padding: 24px;
}

    .mod-health-tab-container .background {
        background-image: url(/img/ModHealthBackgroundLight.png);
        background-position: center;
        background-size: cover;
        height: 100vh;
        left: 0;
        opacity: 0.65;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: -10;
    }

.manifest-editor-tab-container {
    height: calc(100vh - 112px);
    overflow: hidden;
    padding: 24px;
}

    .manifest-editor-tab-container .background {
        background-image: url(/img/ManifestEditorBackgroundLight.png);
        background-position: center;
        background-size: cover;
        height: 100vh;
        left: 0;
        opacity: 0.65;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: -10;
    }

    .manifest-editor-tab-container .background-animation-wrapper span {
        position: fixed;
        bottom: -180px;
        height: 50px;
        width: 50px;
        z-index: -1;
        background-color: var(--mud-palette-tertiary);
        box-shadow: 0 0 50px var(--mud-palette-black), 0 0 100px var(--mud-palette-black), 0 0 150px var(--mud-palette-black), 0 0 200px var(--mud-palette-black);
        animation: manifest-editor-tab-container-background-animation 10s linear infinite;
    }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(1) {
            left: 60px;
            animation-delay: 0.6s;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(2) {
            left: 10%;
            animation-delay: 3s;
            width: 60px;
            height: 60px;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(3) {
            left: 20%;
            animation-delay: 2s;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(4) {
            left: 30%;
            animation-delay: 5s;
            width: 80px;
            height: 80px;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(5) {
            left: 40%;
            animation-delay: 1s;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(6) {
            left: 50%;
            animation-delay: 7s;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(7) {
            left: 60%;
            animation-delay: 6s;
            width: 100px;
            height: 100px;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(8) {
            left: 70%;
            animation-delay: 8s;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(9) {
            left: 80%;
            animation-delay: 6s;
            width: 90px;
            height: 90px;
        }

        .manifest-editor-tab-container .background-animation-wrapper span:nth-child(10) {
            left: 90%;
            animation-delay: 4s;
        }

@keyframes manifest-editor-tab-container-background-animation {
    0% {
        transform: translateY(0);
        opacity: .4;
    }

    80% {
        opacity: .28;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .mod-health-tab-container .background {
        opacity: 0.35;
        background-image: url(/img/ModHealthBackgroundDark.png);
    }

    .manifest-editor-tab-container .background {
        opacity: 0.35;
        background-image: url(/img/ManifestEditorBackgroundDark.png);
    }
}