:root {
    overflow-x: hidden;
    --plumbbuddy-tab-background-mod-health-dark: url('/img/ModHealthBackgroundDark.png');
    --plumbbuddy-tab-background-mod-health-light: url('/img/ModHealthBackgroundLight.png');
    --plumbbuddy-tab-background-mod-health-position: center;
    --plumbbuddy-tab-background-mod-health-repeat: unset;
    --plumbbuddy-tab-background-mod-health-size: cover;
    --plumbbuddy-tab-background-catalog-dark: url('/img/CatalogBackgroundDark.png');
    --plumbbuddy-tab-background-catalog-light: url('/img/CatalogBackgroundLight.png');
    --plumbbuddy-tab-background-catalog-position: center;
    --plumbbuddy-tab-background-catalog-repeat: unset;
    --plumbbuddy-tab-background-catalog-size: cover;
    --plumbbuddy-tab-background-mod-hound-dark: url('/img/ModHoundBackground.png');
    --plumbbuddy-tab-background-mod-hound-light: url('/img/ModHoundBackground.png');
    --plumbbuddy-tab-background-mod-hound-position: right;
    --plumbbuddy-tab-background-mod-hound-repeat: no-repeat;
    --plumbbuddy-tab-background-mod-hound-size: contain;
    --plumbbuddy-tab-background-archivist-dark: url('/img/ArchivistBackgroundDark.png');
    --plumbbuddy-tab-background-archivist-light: url('/img/ArchivistBackgroundLight.png');
    --plumbbuddy-tab-background-archivist-position: bottom;
    --plumbbuddy-tab-background-archivist-repeat: unset;
    --plumbbuddy-tab-background-archivist-size: cover;
    --plumbbuddy-tab-background-parlay-dark: url('/img/ParlayBackgroundDark.png');
    --plumbbuddy-tab-background-parlay-light: url('/img/ParlayBackgroundLight.png');
    --plumbbuddy-tab-background-parlay-position: center;
    --plumbbuddy-tab-background-parlay-repeat: unset;
    --plumbbuddy-tab-background-parlay-size: cover;
    --plumbbuddy-tab-background-manifest-editor-dark: url('/img/ManifestEditorBackgroundDark.png');
    --plumbbuddy-tab-background-manifest-editor-light: url('/img/ManifestEditorBackgroundLight.png');
    --plumbbuddy-tab-background-manifest-position: center;
    --plumbbuddy-tab-background-manifest-editor-repeat: unset;
    --plumbbuddy-tab-background-manifest-editor-size: cover;
}

html {
    overflow-y: hidden;
}

article.mud-markdown-body > *:last-child {
    margin-bottom: 0 !important;
}

.fade-container {
    transition: opacity 0.5s ease-in-out;
}

.mud-tooltip {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-style: solid;
    border-width: 1px;
    max-width: 345px !important;
}

.mud-tooltip-default {
    background-color: var(--mud-palette-surface) !important;
    border-color: var(--mud-palette-lines-default);
}

.mud-tooltip.mud-theme-info {
    background-color: var(--mud-palette-info) !important;
    border-color: var(--mud-palette-info);
}

.mud-tooltip.mud-theme-success {
    background-color: var(--mud-palette-success) !important;
    border-color: var(--mud-palette-success);
}

.mud-tooltip.mud-theme-warning {
    background-color: var(--mud-palette-warning) !important;
    border-color: var(--mud-palette-warning);
}

.mud-tooltip.mud-theme-error {
    background-color: var(--mud-palette-error) !important;
    border-color: var(--mud-palette-error);
}

.mud-tooltip.mud-theme-primary {
    background-color: var(--mud-palette-primary) !important;
    border-color: var(--mud-palette-primary);
}

.mud-tooltip.mud-theme-secondary {
    background-color: var(--mud-palette-secondary) !important;
    border-color: var(--mud-palette-secondary);
}

.mud-tooltip.mud-theme-tertiary {
    background-color: var(--mud-palette-tertiary) !important;
    border-color: var(--mud-palette-tertiary);
}

.mud-thememanager-button {
    z-index: 1000;
}

.main-tabs .mud-tabs-tabbar {
    background-color: transparent;
}

.mud-typographym3 {
    font-family: var(--mud-typography-body1-family);
}

div.mud-input-control.no-material-variant .mud-input-outlined-border {
    display: none;
}

div.mud-input-control.no-material-variant .mud-input > * {
    padding: 0 5px;
}

.mud-overlay {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.mud-paper, .mud-dialog, .mud-drawer, .mud-appbar, .mud-input-filled, .mud-alert-filled-normal, .mud-alert-filled-info, .mud-alert-filled-success, .mud-alert-filled-warning, .mud-alert-filled-error, th.mud-table-cell, tfoot td {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.stop-backdrop-blur {
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
}

.expand-overlay-content .mud-overlay-content {
    width: 100%;
    height: 100%;
}

.manual-markdown p:not(:first-child) {
    margin-top: .5em;
}

.mud-dialog {
    border: 1px solid var(--mud-palette-lines-default);
}

.animation-dialog .mud-dialog-content {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.primary-dialog {
    border-color: var(--mud-palette-primary);
}

.secondary-dialog {
    border-color: var(--mud-palette-secondary);
}

.tertiary-dialog {
    border-color: var(--mud-palette-tertiary);
}

.info-dialog {
    border-color: var(--mud-palette-info);
}

.success-dialog {
    border-color: var(--mud-palette-success);
}

.warning-dialog {
    border-color: var(--mud-palette-warning);
}

.error-dialog {
    border-color: var(--mud-palette-error);
}

.mud-background-primary-selected {
    background-color: color-mix(in srgb, var(--mud-palette-background), var(--mud-palette-primary) 10%);
}

.mud-background-secondary-selected {
    background-color: color-mix(in srgb, var(--mud-palette-background), var(--mud-palette-secondary) 10%);
}

.mud-background-tertiary-selected {
    background-color: color-mix(in srgb, var(--mud-palette-background), var(--mud-palette-tertiary) 10%);
}

div.content-is-vertical-stepper div.mud-dialog-content > div:first-child > div:first-child > div:first-child {
    white-space: nowrap;
}

.main-menu {
    height: calc(100vh - 331px);
    overflow-y: auto;
}

.scan-issues-container, .scan-issues-container * {
    overflow-wrap: anywhere;
    word-break: normal;
}

.user-type-carousel {
    border-radius: var(--mud-default-borderradius);
    height: 600px;
}

.user-type-carousel .d-flex .d-flex div:nth-child(1) svg {
    fill: var(--mud-palette-primary);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.user-type-carousel .d-flex .d-flex div:nth-child(2) svg {
    fill: var(--mud-palette-secondary);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.user-type-carousel .d-flex .d-flex div:nth-child(3) svg {
    fill: var(--mud-palette-tertiary);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.user-type-carousel .carousel-item-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.user-type-carousel .carousel-item-backdrop-static {
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
}

.user-type-carousel video {
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.user-type-carousel .description-backdrop {
    border-radius: 20px;
    opacity: 0.5;
    z-index: 1;
}

.user-type-carousel .description {
    padding: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    z-index: 2;
}

.carousel-item-user-casual {
    height: 100%;
}

    .carousel-item-user-casual .carousel-item-backdrop-static {
        background-image: url(/img/CarouselCasual.png);
    }

    .carousel-item-user-casual .description-backdrop {
        background-color: var(--mud-palette-primary);
    }

    .carousel-item-user-casual .description {
        color: var(--mud-palette-primary-text);
    }

.carousel-item-user-enthusiast {
    height: 100%;
}

    .carousel-item-user-enthusiast .carousel-item-backdrop-static {
        background-image: url(/img/CarouselEnthusiast.png);
    }

    .carousel-item-user-enthusiast .description-backdrop {
        background-color: var(--mud-palette-secondary);
    }

    .carousel-item-user-enthusiast .description {
        color: var(--mud-palette-secondary-text);
    }

.carousel-item-user-creator {
    height: 100%;
}

    .carousel-item-user-creator .carousel-item-backdrop-static {
        background-image: url(/img/CarouselCreator.png);
    }

    .carousel-item-user-creator .description-backdrop {
        background-color: var(--mud-palette-tertiary);
    }

    .carousel-item-user-creator .description {
        color: var(--mud-palette-tertiary-text);
    }

.scan-issue {
    height: 100%;
}

    .scan-issue > .mud-card-header {
        padding-bottom: 0;
    }

.scan-issue-refreshing {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-primary) 35%) 40%);
}

.scan-issue-sleeping {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-dark) 35%) 40%);
}

.scan-issue-Healthy {
}

.scan-issue-Uncomfortable {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-warning) 35%) 70%);
}

.scan-issue-Sick {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-error) 35%) 70%);
}

.scan-issue-Dead {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-error) 35%) 85%);
}

.catalog-list {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 60%);
    height: calc(100vh - 240px);
    -webkit-backdrop-filter: blur(10px);
}

.catalog-details {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 40%);
    height: calc(100vh - 240px);
    -webkit-backdrop-filter: blur(10px);
}

.mod-hound-outline {
    height: calc(100vh - 165px);
}

.mod-hound-report {
    height: calc(100vh - 165px);
}

.chronicle-list {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 60%);
    height: calc(100vh - 242px);
    -webkit-backdrop-filter: blur(10px);
}

.chronicle-details {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 40%);
    height: calc(100vh - 242px);
    -webkit-backdrop-filter: blur(10px);
}

div.monaco-editor {
    background-color: color-mix(in srgb, transparent, var(--mud-palette-background) 50%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    outline: 1px solid var(--mud-palette-lines-default);
}

div.margin {
    background-color: var(--mud-palette-background) !important;
}

div.monaco-editor-background {
    background-color: transparent;
}

div.monaco-editor .margin {
    display: none !important;
}

div.monaco-editor span.mtk1 {
    color: var(--mud-palette-text-primary);
}

.table-cell-align-top {
    vertical-align: top;
}

.parlay-string-display {
    font-family: monospace;
    white-space: pre-line;
}

/* escape sequences */
.parlay-string-display .escape-sequence, div[data-mode-id='ts4-stbl'] span.mtk2 {
    color: var(--mud-palette-primary);
}

/* markup formatting */
.parlay-string-display .markup-formatting, div[data-mode-id='ts4-stbl'] span.mtk3 {
    color: var(--mud-palette-success);
}

/* token */
.parlay-string-display .token, div[data-mode-id='ts4-stbl'] span.mtk4 {
    color: var(--mud-palette-secondary);
}

.parlay-editor {
    height: 100px;
}

div.break-words > div.mud-table-container > table.mud-table-root > tbody.mud-table-body > tr.mud-table-row > td.mud-table-cell {
    word-break: break-word;
    overflow-wrap: break-word;
}