:root {
    overflow-x: hidden;
    --plumbbuddy-tab-background-mod-health-dark: url('/img/ModHealthBackgroundDark.png');
    --plumbbuddy-tab-background-mod-health-light: url('/img/ModHealthBackgroundLight.png');
    --plumbbuddy-tab-background-mod-health-repeat: unset;
    --plumbbuddy-tab-background-mod-health-size: cover;
    --plumbbuddy-tab-background-catalog-dark: url('/img/CatalogBackgroundDark.png');
    --plumbbuddy-tab-background-catalog-light: url('/img/CatalogBackgroundLight.png');
    --plumbbuddy-tab-background-catalog-repeat: unset;
    --plumbbuddy-tab-background-catalog-size: cover;
    --plumbbuddy-tab-background-simvault-dark: url('/img/SimVaultBackground.png');
    --plumbbuddy-tab-background-simvault-light: url('/img/SimVaultBackground.png');
    --plumbbuddy-tab-background-simvault-repeat: unset;
    --plumbbuddy-tab-background-simvault-size: cover;
    --plumbbuddy-tab-background-manifest-editor-dark: url('/img/ManifestEditorBackgroundDark.png');
    --plumbbuddy-tab-background-manifest-editor-light: url('/img/ManifestEditorBackgroundLight.png');
    --plumbbuddy-tab-background-manifest-editor-repeat: unset;
    --plumbbuddy-tab-background-manifest-editor-size: cover;
}

html {
    overflow-y: hidden;
}

article:last-child > * {
    margin-bottom: 0 !important;
}

.mud-popover.mud-tooltip {
    max-width: 280px;
}

.mud-thememanager-button {
    z-index: 1000;
}

.main-tabs .mud-tabs-tabbar {
    background-color: transparent;
}

div.mud-input-control.no-material-variant .mud-input-outlined-border {
    display: none;
}

div.mud-input-control.no-material-variant .mud-input > * {
    padding: 0 5px;
}

.mud-background-primary-selected {
    background-color: color-mix(in srgb, var(--mud-palette-background), var(--mud-palette-primary) 10%);
}

.mud-background-secondary-selected {
    background-color: color-mix(in srgb, var(--mud-palette-background), var(--mud-palette-secondary) 10%);
}

.mud-background-tertiary-selected {
    background-color: color-mix(in srgb, var(--mud-palette-background), var(--mud-palette-tertiary) 10%);
}

.main-menu {
    height: calc(100vh - 331px);
    overflow-y: auto;
}

.scan-issues-container, .scan-issues-container * {
    overflow-wrap: anywhere;
    word-break: normal;
}

.user-type-carousel {
    border-radius: 5px;
    height: 600px;
}

.user-type-carousel .d-flex .d-flex div:nth-child(1) svg {
    fill: var(--mud-palette-primary);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.user-type-carousel .d-flex .d-flex div:nth-child(2) svg {
    fill: var(--mud-palette-secondary);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.user-type-carousel .d-flex .d-flex div:nth-child(3) svg {
    fill: var(--mud-palette-tertiary);
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.user-type-carousel .carousel-item-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.user-type-carousel .carousel-item-backdrop-static {
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
}

.user-type-carousel video {
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.user-type-carousel .description-backdrop {
    border-radius: 20px;
    opacity: 0.5;
    z-index: 1;
}

.user-type-carousel .description {
    padding: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    z-index: 2;
}

.carousel-item-user-casual {
    height: 100%;
}

    .carousel-item-user-casual .carousel-item-backdrop-static {
        background-image: url(/img/CarouselCasual.png);
    }

    .carousel-item-user-casual .description-backdrop {
        background-color: var(--mud-palette-primary);
    }

    .carousel-item-user-casual .description {
        color: var(--mud-palette-primary-text);
    }

.carousel-item-user-enthusiast {
    height: 100%;
}

    .carousel-item-user-enthusiast .carousel-item-backdrop-static {
        background-image: url(/img/CarouselEnthusiast.png);
    }

    .carousel-item-user-enthusiast .description-backdrop {
        background-color: var(--mud-palette-secondary);
    }

    .carousel-item-user-enthusiast .description {
        color: var(--mud-palette-secondary-text);
    }

.carousel-item-user-creator {
    height: 100%;
}

    .carousel-item-user-creator .carousel-item-backdrop-static {
        background-image: url(/img/CarouselCreator.png);
    }

    .carousel-item-user-creator .description-backdrop {
        background-color: var(--mud-palette-tertiary);
    }

    .carousel-item-user-creator .description {
        color: var(--mud-palette-tertiary-text);
    }

.classified-paper {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 60%);
    margin-top: 1em;
    padding: 1em;
}

.scan-issue {
    backdrop-filter: blur(10px);
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
}

    .scan-issue > .mud-card-header {
        padding-bottom: 0;
    }

.scan-issue-refreshing {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-primary) 35%) 40%);
}

.scan-issue-sleeping {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-dark) 35%) 40%);
}

.scan-issue-Healthy {
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 40%);
}

.scan-issue-Uncomfortable {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-warning) 35%) 70%);
}

.scan-issue-Sick {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-error) 35%) 70%);
}

.scan-issue-Dead {
    background-color: color-mix(in srgb, transparent, color-mix(in srgb, var(--mud-palette-surface), var(--mud-palette-error) 35%) 85%);
}

.catalog-note {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 80%);
    -webkit-backdrop-filter: blur(10px);
}

.catalog-list {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 60%);
    height: calc(100vh - 240px);
    -webkit-backdrop-filter: blur(10px);
}

.catalog-details {
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, transparent, var(--mud-palette-surface) 40%);
    height: calc(100vh - 240px);
    -webkit-backdrop-filter: blur(10px);
}