@implements IDisposable
@inject IModsDirectoryCataloger ModsDirectoryCataloger
@inject ISmartSimObserver SmartSimObserver

@if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.Sleeping)
{
    <div class="full-window-semiotic" style="background-color: var(--mud-palette-dark-darken);">
        <MudImage Src="/img/PlumbBuddyLogo.svg" Style="object-fit: initial !important; opacity: .25;" />
    </div>
    <div class="full-window-semiotic">
        <MudIcon Icon="@MaterialDesignIcons.Normal.Sleep" Color="Color.Default" Class="mud-icon-full-screen" />
    </div>
}
else
{
    <div class="full-window-semiotic">
        <MudImage Src="/img/PlumbBuddyLogo.svg" Style="object-fit: initial !important; opacity: .25;" />
    </div>
    @if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.Cataloging)
    {
        <div class="full-window-semiotic">
            <MudProgressCircular Color="Color.Primary" Max="(ModsDirectoryCataloger.ProgressMax ?? 1)" Value="(double)ModsDirectoryCataloger.ProgressValue" Class="mud-progress-circular-full-screen" />
        </div>
    }
    else if (ModsDirectoryCataloger.State is ModsDirectoryCatalogerState.AnalyzingTopology)
    {
        <div class="full-window-semiotic">
            <MudProgressCircular Indeterminate Color="Color.Secondary" Class="mud-progress-circular-full-screen" />
        </div>
    }
    else
    {
        if (SmartSimObserver.ScanIssues.Any(si => si.Type is not ScanIssueType.Healthy))
        {
            <div class="full-window-semiotic">
                <MudIcon Icon="@MaterialDesignIcons.Normal.ProgressAlert" Color="Color.Warning" Class="mud-icon-full-screen" />
            </div>
        }
        else
        {
            <div class="full-window-semiotic">
                <MudIcon Icon="@MaterialDesignIcons.Normal.ProgressCheck" Color="Color.Success" Class="mud-icon-full-screen" />
            </div>
        }
    }
}
