.background {
    background-image: url(/img/PrejectorBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    left: 0;
    opacity: .65;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -10;
}

.marquee {
    position: relative;
    overflow: hidden;
}

.font-brand {
    font-family: termina;
}

.text-opacity-50 {
    --tw-text-opacity: 0.5;
}

.text-zinc-400 {
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity));
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.h-10 {
    height: 2.5rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.marquee .marquee-group {
    white-space: nowrap;
    text-transform: uppercase;
    display: flex;
    animation: scroll var(--marquee-duration) linear infinite;
}

.marquee .marquee-group {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

    .marquee .marquee-group > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0.75rem* var(--tw-space-x-reverse));
        margin-left: calc(0.75rem* calc(1 - var(--tw-space-x-reverse)));
    }
