<div class="background"></div>
<div class="marquee font-brand text-4xl h-10 text-zinc-400 text-opacity-50 mb-5 mt-5" style="--marquee-duration: 120s;">
    <div class="marquee-group">
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
        <span><span>Classified</span> •</span>
    </div>
</div>
<MudContainer MaxWidth="MaxWidth.Medium">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12">
            <MudPaper Class="classified-paper">
                <MudGrid Spacing="8" Justify="Justify.Center">
                    <MudItem xs="1">
                        <MudImage Src="/img/Lot51CoreLibraryLogo.png" Width="64" Height="64" ObjectPosition="ObjectPosition.Center" />
                    </MudItem>
                    <MudItem xs="11">
                        <MudTextM3 Typo="TypoM3.Title">
                            You've heard of an Injector... but... a Prejector?
                        </MudTextM3>
                        <MudTextM3>
                            We’re working with <MudLink Href="https://lot51.cc/">Lot 51</MudLink> to make a version of their <MudLink Href="https://lot51.cc/core">Core Library</MudLink> even more powerful by freeing it from the limitations of the game and letting it run right here, inside PlumbBuddy!
                        </MudTextM3>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="classified-paper">
                <MudGrid Spacing="8" Justify="Justify.Center">
                    <MudItem xs="1">
                        <MudIcon Icon="@MaterialDesignIcons.Normal.AccountQuestion" Color="Color.Info" Style="padding-left: 4px; padding-top: 6px; width: 64px; height: 64px;" />
                    </MudItem>
                    <MudItem xs="11">
                        <MudTextM3 Typo="TypoM3.Title">
                            But... what does it mean for you as a creator?
                        </MudTextM3>
                        <MudTextM3>
                            It will make game load times faster, make your mods more stable, and give you the ability to bring your players even richer experiences in the game than you already can.
                        </MudTextM3>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="classified-paper">
                <MudGrid Spacing="8" Justify="Justify.Center">
                    <MudItem xs="1">
                        <MudIcon Icon="@MaterialDesignIcons.Normal.EmoticonExcited" Color="Color.Success" Style="padding-top: 6px; width: 64px; height: 64px;" />
                    </MudItem>
                    <MudItem xs="11">
                        <MudTextM3 Typo="TypoM3.Title">
                            Want to know what you can do while you wait?
                        </MudTextM3>
                        <MudTextM3>
                            Hyped?
                            Help by getting the word out about PlumbBuddy for the features you and your players already enjoy.
                            The more Simmers using PlumbBuddy, the better the Prejector can be!
                        </MudTextM3>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudPaper>
                <MudAlert Icon="@MaterialDesignIcons.Normal.FloorPlan">
                    <InlineMarkdown>
                        Current Status: **Planning Phase**
                    </InlineMarkdown>
                </MudAlert>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
